1. What are data structures, and why are they important?

 Ans - Data structures are way of storing, managing and organizing data in computer. so, it can be used efficiently.

 Important ->

 => Choosing the right data structure significantly impacts the efficiency  and performance of your program.
=> Well-chosen data structures can:
=> Simplify data manipulation (adding, removing, modifying elements)
=> Optimize searching and sorting operations
=> Conserve memory usage

2.  Explain the difference between mutable and immutable data types with examples.

Ans - Mutable means we can change the data after it created. and also say modified the data without creating object.

muttable data type - dictionary, set and list.

=> Immutable means can't change the data after it created. and if we can change the data create a new object.

immutable data type - string, float, integer and tuple

In [ ]:
## Example -> Mutable data type

num = [1, 2, 3]

num[0] = 10 # changing the first element

print(num)

[10, 2, 3]

In [ ]:
## Example -> immutable data type

num = (1, 2,3)

num[0] = 10 #we can't change the element

print(num)

TypeError: 'tuple' object does not support item assignment

3. What are the main differences between lists and tuples in Python?

Ans - lists and tuples are both used to store ordered collections of items, but they differ in several important ways.

=> list is a mutuable and we can change, add and remove elements after creations.

. syntax - []
. list is slow
. list is used more memory

=> tuple is a immutable and once elements created we can't changed.

. syntax - ()
. tuple is fast
. tuple is used less memory

4. Describe how dictionaries store data.

Ans - A dictionary is stores a key value data and quickly find the data with help of key value not the position. and stores the unordered data.

dictionaries data type add, remove and access the data easily using key value.and it can stores all data types like - string, numbers and list.

5.  Why might you use a set instead of a list in Python?

Ans - When a use set automatically removes duplicate elements and it gives the faster result. and but list keeps the duplicate element and it takes the time for the result.

6. What is a string in Python, and how is it different from a list?

Ans - A string is a sequence of characters used to store text, while a list is a sequence used to store multiple items.

. String is a immutable means can't change the created string and we can write single quotes ' ' and double quotes " ".

. list is a mutable means change the created string and write the []'

7. How do tuples ensure data integrity in Python?

Ans - Tuples help ensure data integrity in Python because they are immutable, meaning their values cannot be changed after they are created.

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans - A hash table is a way of storing data so it can be found very quickly and dictionaries are built using hash tables. each items stored in dictionaries based on key & values. key is hashed and values is store the hash tables.

9. Can lists contain different data types in Python?

Ans - Yes, Lists in Python can contain different data types like - numbers, strings, booleans, and even other lists.

10.  Explain why strings are immutable in Python.

Ans - Strings are immutable to make Python faster, safer, and more memory-efficient, and to ensure they can be used reliably in dictionaries and sets.

11. What advantages do dictionaries offer over lists for certain tasks?

Ans - A dictionaries stores a unquie key and values and easily access the value based on key. but in list stores the duplicate value and it takes time for retriving the element. list takes more time as compared to the dictionaries data type,

12. Describe a scenario where using a tuple would be preferable over a list.

Ans - A tuple is preferable over a list when if you want to store data that should not change.

Scenario -

In [ ]:
location = (40.7128, -74.0060)  # New York City coordinates
print(location)

In [ ]:
location_list = (40.7128, -74.0060)
location_list[0] = 40

13.  How do sets handle duplicate values in Python?

Ans - sets is automatically remove the duplicate the value in python.

14.  How does the “in” keyword work differently for lists and dictionaries?

Ans - lists "in" keyword check the value but dictionaries check the key not the value.

15. Can you modify the elements of a tuple? Explain why or why not?

Ans - No, we cannot modify the elements of a tuple in Python because tuples are immutable.

immutable means once a tuple is created, its element cannot be changed, add and remove existing elements.
Why tuples are immutable

. Data integrity - prevents accidental changes to important data.
. Faster and memory-efficient - Python can optimize storage since the data   won't change.
.Safe as dictionary keys or set items - only immutable types can be used as keys.

16. What is a nested dictionary, and give an example of its use case?

Ans - A nested dictionary is a dictionary that contains another dictionary as its values. This allows you to store structured or hierarchical data in a clear way.

17. Describe the time complexity of accessing elements in a dictionary?

Ans - In a dictionary in python is very fast for accessing the elements because dictionaries use a hash table internally.

18.  In what situations are lists preferred over dictionaries?

Ans - Lists are preferred over dictionaries in Python when store the order, duplicates, or simple sequences rather than key-value relationships.

19.  Why are dictionaries considered unordered, and how does that affect data retrieval?

Ans - Dictionaries are unordered because their items are stored in a hash table, not a sequence. That means always access values by keys, not by position, but lookups are very fast.

20.  Explain the difference between a list and a dictionary in terms of data retrieval.

Ans - The main difference between a list and a dictionary in terms of data retrieval.

list is used to access the data by index but dictionary it gives the data by key.

list is data access slower than dictionaries because it contains duplicate and ordered data but dictionary gives fast by key as hash table.

**Practical Questions**

1. Write a code to create a string with your name and print it.

In [ ]:
my_name = "Navin kumar"
print(my_name)

In [ ]:
type(my_name)

str

2. Write a code to find the length of the string "Hello World".

In [ ]:
name = "Hello World"
len(name)

11

3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
name = "Python programming"

name[:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
a = "hello"
a.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
num = [1, 2, 3, 4, 5]
print(num)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8.  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
m = ['a', 'b', 'c', 'd']
m[1:2]

['b']

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
num = [10, 20, 30, 40, 50]
num[:: -1]

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
tuple = (100, 200, 300)
print(tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
tuple1 = ('red', 'green', 'blue', 'yellow')
tuple1[-2]

'blue'

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
tuple = (10, 20, 5, 15)
min(tuple)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
tuple = ('dog', 'cat', 'rabbit')
tuple.index('cat')

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ('mango', 'banan', 'orange')

print('kiwi' in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [ ]:
set = {"a", "b", "c"}
print(set)

{'a', 'c', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [ ]:
sets = {1, 2, 3, 4, 5}
sets.clear()
print(sets)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
set = {1, 2, 3, 4}
set.remove(4)
print(set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set1.union(set2)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [ ]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
set1.intersection(set2)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [ ]:
dict = {"name":"navin", "age": 30, "city" : "Ranchi"}
print(dict)

{'name': 'navin', 'age': 30, 'city': 'Ranchi'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
dic = {"name" : "John", "age" : 25,}
dic["country"] = "USA"

print(dic)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
dic = {"name" : "Alice", "age" :30}
dic["name"]

'Alice'

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
dict = {"name" : "Bob", "age" : 22, "city" : "New York"}
dict.pop("age")
print(dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
dict = {"name" : "Alice", "city" : "Paris"}
print("city" in dict)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"name": "Navin", "age": 30}


print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: (4, 5, 6)
Dictionary: {'name': 'Navin', 'age': 30}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [ ]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[17, 22, 26, 30, 85]

28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
list = ["apple", "banana", "orange", "mango"]
list[2]

'orange'

29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {"name" : "Navin Kumar", "age" : 30, "city" : "Ranchi"}
dict2 = {"State" : "Jharkhand", "pincode" : 834005}
dict1.update(dict2)
print(dict1)

{'name': 'Navin Kumar', 'age': 30, 'city': 'Ranchi', 'State': 'Jharkhand', 'pincode': 834005}

30. Write a code to convert a list of strings into a set.

In [ ]:

fruits_list = ["apple", "banana", "orange", "apple"]

fruits_set = set(fruits_list)
print(fruits_set)

TypeError: 'set' object is not callable

# New Section